body{
	width: 100%;
	margin: 0 auto;
	font-size: 100%;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
a, p, h2, h3{
	font-family: 'Source Sans Pro', sans-serif;
}
h1{
	margin: 0;
}
.spotlight{
	padding-top: 180px;
}
.featImage{
	width: 100%;
}
#slider1_container{
	position: relative; 
	height: 390px;
}
.slides{
	overflow: hidden;
	width: 90%;
	height: 350px;
	margin: 20px;
}
footer{
	background-color: #000;
	padding: 20px;
	text-align: center;
}
.socialMedia{
	border-bottom: 1px solid #a9aa9c;
	padding-bottom: 20px;
}
.socialMedia img{
	padding: 0 10px;
}
footer p{
	color: #efefef;
}

/*<----- Media Queries ----->*/

 /*Small Screens*/
@media only screen{
	/* Define mobile styles */
} 
@media only screen and (max-width: 40em){
	/* max-width 640px, mobile-only styles, use when QAing mobile issues */
	.container{
		width: 100%;
		margin: 0 auto;
		background-color: #a9aa9c;
	}
	.pageHead{
		background-color: #000;
		text-align: right;
		position: fixed;
		z-index: 1;
	}
	.mainText{
		display: inline-block;
		padding-right: 50px;
		width: 50%;
	}
	.pageHead a{
		color: #efefef;	
	}
	.menuBar{
		width: 10%;
		vertical-align: top;
		padding: 20px 10px 0 0;
	}
	nav ul{
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}
	nav ul li{
		background-color: #123;
		padding: 25px 0;
		border-bottom: 1px solid #a9aa9c;
	}
	nav ul li a{
		color: #efefef;
		padding: 20px 40px;
	}
	.navHide{
		display: none;
		position: fixed;
		top: 9%;
		width: 100%;
		background-color: rgba(0,0,0,.3);
		padding: 60px 0 200px 0;
		z-index: 2;
	}
	.latestVids{
		background-color: #fff;
		text-align: center;
		padding: 0 20px;
	}
	.latestVids h3, .latestMusic h3, .merchStore h3{
		text-align: left;
		padding-top: 20px;
		border-bottom: 1px solid #123;
		margin-top: 0;
	}
	.latestVids a, .latestMusic a, .merchStore a{
		color: #ff5419;
	}
	.vidBox iframe{
		width: 100%;
		padding-bottom: 20px;
	}
	.latestMusic{
		padding: 0 20px;
		background-color: #cdcdcd;
	}
	.musicBox iframe{
		padding-bottom: 20px;
	}
	.merchStore{
		padding: 0 20px;
		background-color: #fff;
	}
	.merchStore img{
		width: 100%;
	}
	.store{
		text-align: center;
		padding: 40px;
	}
	.store a{
		background-color: #123;
		color: #efefef;
		padding: 20px 25%;
	}
	.store a:hover{
		background-color: #ff5419;
	}
	.store img{
		width: 5%;
	}
	.cartLeft{
		position: absolute;
		left: 25%;
	}
	.cartRight{
		position: absolute;
		right: 25%;
	}
	.goHome{
		padding: 200px 0 0 0;
		position: fixed;
		top: -11px;
	}
	.goHome a{
		background-color: #a9aa9c;
		color: #efefef;
		padding: 20px 180px;
	}
	.goHome a:hover{
		background-color: #ff5419;
	}
	.biography{
		padding: 20px;
	}
	.biography p{
		padding-top: 210px;
		line-height: 25px;
		color: #123;
	}
	.eventDate{
		background-color: #123;
		width: 20%;
		display: inline-block;
		text-align: center;
		color: #efefef;
		padding: 20px 0 80px 0;
	}
	.news{
		padding-top: 220px;
	}
	.event{
		margin-bottom: 20px;
	}
	.event img{
		max-width: 60%;
		vertical-align: middle;
	}
	.eventList{
		padding: 20px;
	}
	.eventList h2, .eventHeading a{
		color: #ff5419;
	}
	.eventHeading{
		border-bottom: 1px solid #123;
	}
	.newsList{
		background-color: #cdcdcd;
		padding: 10px 20px;
	}
	.newsItem{
		background-color: #fff;
		padding: 10px 0;
		margin-bottom: 10px;
	}
} 

/* Medium Screens*/
@media only screen and (min-width: 40.063em){
	/* min-width 641px, medium screens */
 } 
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
 } 

/* Large Screens*/
@media only screen and (min-width: 64.063em){
	/* min-width 1025px, large screens */
 } 
@media only screen and (min-width: 64.063em) and (max-width: 90em){
	/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
 } 

 /*XLarge Screens*/
@media only screen and (min-width: 90.063em){
	/* min-width 1441px, xlarge screens */
 } 
@media only screen and (min-width: 90.063em) and (max-width: 120em){
	/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
 } 

 /*XXLarge Screens*/
@media only screen and (min-width: 120.063em){
	/* min-width 1921px, xxlarge screens */
 } 